<header class="main-header">  

    <h1 class="main-header__title">
        'Dev.'Computers
    </h1>

    <app-barra-pesquisa></app-barra-pesquisa>

    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a routerLink="produtos">Produtos</a>
                </li>
                <li>
                    <a routerLink="carrinho">Carrinho</a>
                </li>
                <li>
                    <a routerLink="contato">Contato</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
